// Custom styles.
body
  padding-right: 0 !important

.fa-github
  transform: scale(1.25)

.site-author-name
  color $text

.page-post-detail .sidebar-toggle-line
  background white

.sidebar-nav .sidebar-nav-active
  color $text
  border-bottom-color $text
  &:hover
    color $text

.post-toc .nav .active-current > a
  color $text
  border-bottom-color $text
  &:hover
    color $text

#header
  z-index 10
  position relative

#sidebar
  z-index 1
  padding-top: 91px
  background: white !important