.post-body .label {
  display: inline;
  font-size: 75%;
  white-space: nowrap;
  padding: .3em .6em .2em;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  &.default { background-color: $label-default; }
  &.primary { background-color: $label-primary; }
  &.info    { background-color: $label-info; }
  &.success { background-color: $label-success; }
  &.warning { background-color: $label-warning; }
  &.danger  { background-color: $label-danger; }
}
